// My First SASS
$font-stack: Helvetica, sans-serif;
$primary-color: maroon;

body {
  font-family: $font-stack;
  color: $primary-color;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    display: inline-block;
  }
  a {
      display: block;
      padding: 6px 12px;
      text-decoration: none;
      background-color: $primary-color;
  }
}
